
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    text-align: center;
}
#contenedor-principal {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    max-width: 450px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 { color: #333; }

#imagen-aleatoria {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border: 1px solid #ddd4c8;
    border-radius: 8px;
    margin: 20px 0;
    cursor: pointer; /* Para detener el visor */
}
#mensaje-resultado {
    margin-top: 15px;
    padding: 15px;
    font-size: 1.4em;
    font-weight: bold;
    border-radius: 8px;
    background-color: #e9ecef;
    min-height: 50px;
}
#mensaje-resultado.oculto { display: none; }

button.reiniciar {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    margin-top: 15px;
}