<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brainrot Trivia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
</head>
<body>
<div id="mensajeBrainrot" class="mensaje-oculto"></div>

<h1>🎤 Detector de Brainrot</h1>
<button onclick="iniciarReconocimiento()">Hablar</button>


<div id="resultado"></div>



<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Iniciar sesion</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Registrarse</a>
    </li>
</ul>

<div id="main">
    <div id="Adivinanza" class=" container-xl pt-2">
        <div id="BrainrotAAdivinar" class="d-flex justify-content-center pb-3">
            <img th:src="@{${imagen}}"
                 class="imagen-pregunta mb-3"
                 alt="¿Qué es esto?">
        </div>
        <div class="row g-3" id="opciones">
            <h2>Decí la palabra: <strong>manzana</strong></h2>

            <button onclick="iniciarReconocimiento()">Hablar</button>

            <p>Lo que dijiste: <span id="textoReconocido">...</span></p>

        </div>

        <form id="formVoz" action="/adivinanza-por-voz/verificar2" method="post" style="display: none;">
            <input type="hidden" name="transcripcion" id="inputTranscripcion">
            <input type="hidden" name="imagenActual" th:value="${imagenActual}">
        </form>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
<script th:src="@{/resources/core/js/textToSpeech.js}"></script>
</body>



</html>