<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" th:href="@{/home}">BrainrotGames</a>
</nav>

<main role="main" class="container pt-4">
  <div class = "container">
    <h1 class="text-center">Bienvenidos a BrainrotGames</h1>

      <div class="row mt-4">

          <div class="col-md-6 mb-4">
              <div class="card bg-gradient" style="background: linear-gradient(45deg, #667eea 0%, #764ba2 100%);">
                  <div class="card-body text-white text-center">
                      <h3 class="text-black">Desafío</h3>
                      <p class="text-black">¡Selecciona el BrainRot Corecto!</p>
                      <a th:href="@{/seleccionar-nivel}" class="btn btn-light btn-lg">
                          🎮 JUGAR AHORA
                      </a>
                      <a th:href="@{/versus/lobby}" class="btn btn-light btn-lg">
                          🎮 JUGAR MULTIJUGADOR
                      </a>
                  </div>
              </div>

          </div>

          <div class="col-md-6 mb-4">
              <div class="card bg-gradient" style="background: linear-gradient(45deg, #667eea 0%, #764ba2 100%);">
                  <div class="card-body text-white text-center">
                      <h3 class="text-black">Crear</h3>
                      <p class="text-black">¡Crea tu Brain Rot!</p>
                      <a th:href="@{/crear}" class="btn btn-light btn-lg">
                          🎮 JUGAR AHORA
                      </a>
                  </div>
              </div>

          </div>

          <div class="col-md-6 mb-4">
              <div class="card bg-gradient" style="background: linear-gradient(45deg, #667eea 0%, #764ba2 100%);">
                  <div class="card-body text-white text-center">
                      <h3 class="text-black">Rompecabezas</h3>
                      <p class="text-black">¡Rompecabezas!</p>
                      <a th:href="@{/rompecabezas}" class="btn btn-light btn-lg">🎮 JUGAR SOLO</a>
                      <a th:href="@{/rompecabezas/lobby}" class="btn btn-light btn-lg">🎮 JUGAR MULTIJUGADOR</a>
                  </div>
              </div>

          </div>

          <div class="col-md-6 mb-4">
              <div class="card bg-gradient" style="background: linear-gradient(45deg, #667eea 0%, #764ba2 100%);">
                  <div class="card-body text-white text-center">
                      <h3 class="text-black">Adivinanza</h3>
                      <p class="text-black">¡Adivinanza el brainrot!</p>
                      <a th:href="@{/adivinanza-por-voz.html}" class="btn btn-light btn-lg">🎮 JUGAR AHORA</a>
                      <a th:href="@{/adivinanzaPorVoz/lobby}" class="btn btn-light btn-lg">🎮 JUGAR MULTIJUGADOR</a>
                  </div>
              </div>

          </div>




      </div>
  </div>
</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>