<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lobby Multijugador</title>
    <script th:src="@{/webjars/sockjs-client/1.5.1/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/rompecabezas.css}"/>
    <style>
        body { font-family: sans-serif; }
        #listaDePartidas li { padding: 5px; border-bottom: 1px solid #ccc; }
        #listaDePartidas a { margin-left: 20px; }
        .error { color: red; }
    </style>
</head>

<body style="background-color: #f8fef6; width: 100%; height: 85vh;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">BrainrotGames</a>
    </div>

</nav>

<main class="container d-flex flex-column">
    <section class="d-flex flex-column mt-3">
        <h2>Lobby de Partidas</h2>

        <p th:if="${error}" th:text="|Error: ${error}|" class="error"></p>

        <form th:action="@{/partida}" method="POST">
            <input type="text" name="nombrePartida" style="outline: none" class="rounded-2 p-1" placeholder="Nombre de tu partida" required>
            <button class="btn btn-info text-white" type="submit">Crear Partida</button>
        </form>
    </section>

    <section class="d-flex flex-column mt-5">
        <h3>Partidas Disponibles:</h3>

        <ul id="listaDePartidas">
            <li th:each="partida : ${partidas}" th:id="'partida-' + ${partida.id}">

            <span th:text="${partida.nombre} + ' (Creada por: ' + ${partida.jugador1Nombre} + ')'">
                Nombre de la partida (Creada por: Jugador)
            </span>

                <a class="btn btn-info text-white" th:href="@{/partida/{id}(id=${partida.id})}">Unirse</a>
            </li>
        </ul>
    </section>

</main>


<script th:inline="javascript">
    /*<![CDATA[*/
    const wsConnectUrl = /*[[@{/mi-websocket}]]*/ '/mi-websocket';
    const contextPath = /*[[@{/}]]*/ '/'; // Ej: /tallerwebi-base/
    const partidaBaseUrl = /*[[@{/partida/}]]*/ '/partida/';
    /*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/lobbyRompecabezas.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>