<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rompecabezas</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/rompecabezas.css}"/>


</head>
<body style="background-color: #f8fef6; width: 100%; height: 85vh;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 10vh">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Rompezabezas</a>
    </div>

</nav>

<main class="h-100 w-100 d-flex flex-column align-items-center" style="height: 90vh">

    <section class="d-flex w-100 h-100">

        <article th:id="${'Rompecabeza-' + rompecabeza.id}" class="w-75 h-100 d-flex flex-column align-items-center justify-content-center bg-light">
            <img id="imagen-original" th:src="@{${rompecabeza.urlImg}}" alt="Imagen Original" style="display: none;">
            <div id="contenedor-piezas"></div>
        </article>

        <aside class="w-25 h-100 d-flex flex-column align-items-center bg-info">
            <div style="padding: 2em; background-color: beige" class="mt-4 fw-bold rounded-2">
                <span id="horas">00</span>:<span id="minutos">00</span>:<span id="segundos">00</span>
            </div>
            <div style="padding: 2em; background-color: beige" class="mt-4 fw-bold rounded-2">
                <input id="record" th:value="${mejorTiempo}" class="d-none" hidden="hidden">
                <h3>Mi mejor tiempo: </h3>
                <span id="horasRecord">00</span>:<span id="minutosRecord">00</span>:<span id="segundosRecord">00</span>
            </div>
        </aside>
    </section>


</main>

<!-- Button trigger modal -->
<button type="button" id="modal_btn" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modal-title" th:text="${'Nivel: ' + rompecabeza.id}"></h1>
        </div>
        <div id="modal-body" class="modal-body text-center" style="max-height: 500px">
            <h3 class="text-center" th:text="${rompecabeza.nombre}"></h3>
            <img th:src="@{${rompecabeza.urlImg}}" alt="Imagen Rompecabeza" style="height: 200px;">
        </div>
        <div id="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-primary" id="btn-comenzar" data-bs-dismiss="modal">Comenzar</button>
            <button type="button" class="btn btn-primary" id="btn-niveles">Seleccionar nivel</button>
        </div>
    </div>
</div>
</div>

<footer class="footer mt-auto py-3 bg-dark" style="height: 10vh; width: 100%;">

</footer>

<script type="text/javascript" th:src="@{/js/rompecabezas.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script>


</script>

</body>
</html>