<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    -->
    <link rel="stylesheet" th:href="@{/css/style-perfil.css}"/>
    <title>Perfil de Jugador - Brain Rot</title>


</head>
<body>
<h1 th:text="${mensaje}"></h1>
<div class="profile-container">
    <div class="profile-header">
        <img id="profile-pic" class="profile-picture" src="https://via.placeholder.com/100" alt="Foto de Perfil">
        <h1 id="user-name" class="profile-name">Perfil de Jugador</h1>
    </div>

    <div class="stats-section">
        <div class="stat-box">
            <h2>Puntos Totales</h2>
            <p id="total-points">1,000,000</p>
        </div>

        <div class="stat-box">
            <h2>Tiempo de Juego</h2>
            <p id="play-time">2h 35min</p>
        </div>

        <div class="stat-box">
            <h2>Logros</h2>
            <p id="upgrades-unlocked"></p>

            -Brain rot creados <br>
            -Brain rot adivinados <br>
            -Rompecabezas armadas <br>
            -Juegos ganados en modo versus <br>
        </div>
    </div>

    <div class="trophies-section">
        <h2>Niveles alcanzados</h2>
        <div id="trophy-grid" class="trophy-grid">
        </div>
    </div>

    <div class="customization-section">
        <h2>Personalización</h2>
        <div class="backgrounds-section">
            <h3>Fondos de Perfil</h3>
            <div id="background-grid" class="background-grid">
            </div>
        </div>
        <button onclick="changeBackground()">Cambiar Fondo de Perfil</button>
    </div>

</div>
<!--
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
-->
<script type="module" th:src="@{js/script-perfil.js}"></script>
</body>
</html>